@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@0;1&family=Orbitron:wght@400;500&display=swap');
@font-face {
    font-family:'retro';
    src: url(retrochips/Retrochips.otf) format('opentype');
}
@font-face {
    font-family: 'chapanza' ;
    src: url(chapaza/Chapaza.ttf) format('truetype');
}
@font-face {
    font-family:'cubic';
    src: url(cubic/cubic.ttf) format('truetype');
}
@font-face {
    font-family:'good';
    src: url(good_timing/good\ timing\ bd.ttf) format('truetype');
}
@font-face {
    font-family: 'alien';
    src: url(alien_encounters/Alien-Encounters-Regular.ttf) format('truetype');
}
@font-face {
    font-family:'tape' ;
    src: url(sextape/Sextape.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background-image:linear-gradient(to bottom,#a3cdd7,#b0ebfa);
}
div#menumobile> img{
    visibility: hidden;
    position: absolute;
}
div#div{
    display: none;
    visibility: hidden;
}
.barrinha-menu {
    height: 4px;
    width: 50px;
    background-color: #000;
    display: block;
    margin: 4px;
    transition: width 0.5s ease, margin-left 0.5s ease;
}
div#div2{
  display: none;
  visibility: hidden;
}
div#div2> div#menu1{
  width: 35px;
  height: 4px;
  background-color: blueviolet;
  margin-top: 0px;
  transform: rotate(55deg);
  position: absolute;
  transition: width 0.5s ease, margin-left 0.5s ease;
}
div#div2> div#menu2{
  width: 35px;
  height: 4px;
  background-color: blueviolet;
  transform: rotate(-55deg);
  transition: width 0.5s ease, margin-left 0.5s ease;
}
header> div#menumobile> h3{
    display: none;
}
header> h1{
    animation-name: h1;
    animation-duration:6s;
    text-align: center;
    color: #0A0928;
    padding-bottom: 20px;
    font-family: 'orbitron', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
}
@keyframes h1 {
    from{color: #f0bc1f;}
    to {color:#0A0928;}
}
img#botão{
    display: none;
}
img#fechar{
    display: none;
    visibility: hidden;
}
nav#esconder{
    position: relative;
    visibility: hidden;
    display: none;
}
nav#principal{
    height: 30px;
    margin: 0;
    text-align: center;
    padding-top: 5px;
    padding-left: 20px;
    margin-bottom: 5px;
    text-align: center;
    margin: auto;
    background-color: #f0bc1f;
    padding: 0;
    visibility: visible;
}
nav#principal> ul{
    margin: auto;
    text-align: center;
}
header> nav#principal> ul> li> a{
    margin: auto;
    text-decoration: none;
    color: #0A0928;
    border-radius: 20px 30px;
    font-size: 0.83em;
    font-family: 'good', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header> nav#principal> ul#menu> li{
    margin: auto;
    list-style:none;
    display: inline-flex;
    padding: 5px;
    text-align: center;
}
ul#submenu{
    visibility:hidden;
    position:absolute ;
    padding-top:25px ;
    list-style: none;
    color: #0A0928;
    text-decoration: none;
}
ul#submenu> li{
    padding: 8px;
    background-color: #f0bc1f; 
}
ul#submenu> li> a{
    color: #0A0928;
    text-decoration: none;
    font-size: 0.83em;
    font-family: 'good', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media (max-width:700px) {
    header{
        height: 30px;
        display: block;
        padding: 0;
        margin: 0;
    }
    div#div{
        display: block;
        visibility: visible;
        position: absolute;
        left: 91%;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .barrinha-menu {
        height: 4px;
        width: 50px;
        background-color: #0A0928;
        display: block;
        margin: 4px;
    }
    div#div2{
        visibility: visible;
      display: none;
      position: absolute;
      left: 93%;
      right: 0px;
      margin-left: auto;
      margin-right: auto;
    }
    div#div2> div#menu1{
      width: 30px;
      height: 4px;
      background-color: #0A0928;
      margin-top: 0px;
      transform: rotate(55deg);
      position: absolute;
      transition: width 0.5s ease, margin-left 0.5s ease;
    }
    div#div2> div#menu2{
      width: 30px;
      height: 4px;
      background-color: #0A0928;
      transform: rotate(-55deg);
      transition: width 0.5s ease, margin-left 0.5s ease;
    }
    header> div#menumobile> img{
        width: 30px;
        height: 30px;
        visibility: visible;
    }
    header> div#menumobile> h3{
        color: #0A0928;
        font-family:'orbitron', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: block;
        font-size: 1.2em;
        visibility: visible;
        margin-left: 40px;
    }
    h1{
        display: none;
        visibility: hidden;
    }
    div#menumobile{
        width: 100%;
        height: 30px;
        background-color: #f0bc1f;
        display: flex;
    }
    
    nav#esconder{
        animation: nav 1s;
        display: inline !important;
        visibility: hidden ;
        width: 100%;
    }
    @keyframes nav {
        from{transform: translateX(10px);}
        to{transform: translateX(0);}
    }
    nav#esconder> ul{
        margin: auto;
        background-color: #0A0928;
    }
    nav#esconder> ul> li{
        list-style: none;
        margin:auto ;
        padding: 30px;
    }
    nav#esconder> ul> li:hover{
        background-color: #35C5DB;
        animation: menu 2s;
    }
    nav#esconder> ul> li> a{
        text-decoration: none;
        text-align: center;
        margin: auto;
        color: white;
        text-align: center;
        font-size: 0.83em;
        font-family: 'good', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    }
    @keyframes menu {
        from{transform: translateX(100px);}
        to{transform: translateX(0);}
    }    
    nav#principal{
        display: none;
        visibility: hidden;
    }
    div#menumobile>img#logo{
        display: block;
        visibility: visible;
        width: 30px;
        height: 30px;
        position: absolute;
    }
}
section#Historia{
    background-color: #0A0928;
    padding: 30px;
}
section#Historia> div> h2{
    animation: h2 2s;
    color: #f0bc1f;
    text-align: center;
    padding: 20px;
    font-family: 'good', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@keyframes h2 {
    from{transform: translateX(200px);}
    to{transform: translateX(0);}
}
section#Historia> div{
    background-color: white;
    color: rgb(0, 0, 0);
    max-width: 800px;
    text-align: center;
    margin: auto;
    padding: 20px;
    font-family: 'chapanza','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section#Historia> div> img{
    width: 200px;
    height: 200px;
    border-radius: 100px 100px;
}
footer{
    background-color: #0A0928;
}
footer> h4{
    color: white;
    font-family:'good', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top:10px ;
    padding-bottom:10px;
}
footer> nav#rodape> div#rod{
   text-align: center;
   padding-bottom: 15px;
   
}